.wrapperFuture {
  width: 100%;
  height: 778px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../components/theFuture/icons/worked.png");
  background-size: cover;
  background-position: center;
  padding: 0 112px;
}

.wrapperYears {
  width: 100%;
  height: 890px;
  background: #191A19;
  padding: 60px 112px 27px;
}

.wrapperFeatured {
  width: 100%;
  height: 950px;
  background: #AE1919;
  padding: 42px 112px;
}

.wrapperComments {
  height: 443px;
}

.wrapperRequest {
  height: 900px;
  padding: 45px 112px;
  background: linear-gradient(180deg, #191A19 0%, rgba(0, 0, 0, 0) 152.79%);
}