.wrapperFuture {
  width: 100%;
  height: 778px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../components/theFuture/icons/worked.png");
  background-size: cover;
  background-position: center;
  padding: 0 112px;
}

.wrapperYears {
  width: 100%;
  height: 890px;
  background: #191A19;
  padding: 60px 112px 27px;
}

.wrapperFeatured {
  width: 100%;
  height: 1600px;
  background: #AE1919;
  padding-left: 112px;
}